@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: monospace;*/
}

:root {
    --bleu: #A5D7E8;
    --blanc: #FFF;
    --gris: #E4E4E4;
    --bleu-fonce: #B7CFF0;

    --title: 2.5rem;
    --sub-title: 1.4rem;
    --bottom-title: 1.2rem;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    scrollbar-width: none;
}
body::-webkit-scrollbar{ display: none; }

section {
    width: 100svw;
    height: 100svh;
    
}

section:nth-child(1) { background-color: var(--bleu); }
section:nth-child(2) { background-color: var(--blanc); }
section:nth-child(3) { background-color: var(--blanc); }
section:nth-child(4) { background-color: var(--gris); }
section:nth-child(5) { background-color: var(--bleu-fonce); }
section:nth-child(6) { background-color: var(--blanc); }

.landpage {
    height: 100svh;
    display: grid;
    grid-template-rows: 12% 80% 8%;
    /* background-color: var(--bleu); */
    color: white;
    font-family: 'Urbanist';
    padding: 1svh 0 30px;
}

header, main, footer {
    width: inherit
}

header {
    max-height: inherit;
    margin-left: 1svh;
}

header img {
    padding: 10px;
    aspect-ratio: 1;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

main h1 {
    /* padding: 0 30px; */
    text-transform: uppercase;
    text-align: center;
    font-size: var(--title);
    line-height: 1;
}

main h2 {
    font-weight: 400;
    font-size: var(--sub-title);
    text-align: center;
    margin: 0 30px;
}

main .illustration {
    width: inherit;
    display: flex;
    height: 80%;
    justify-content: center;
}

main .illustration img {
    aspect-ratio: 375/231;
    width: 80%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--bottom-title);
    width: 100%;
}

footer a {
    padding-top: 10px;
    text-decoration: none;
    color: white;
    font-size: var(--sub-title);
    animation: bounce;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.main-content {
    height: 100svh;
    display: grid;
    grid-template-rows: 90% 10%;
    /* background-color: var(--bleu); */
    color: black;
    font-family: 'Urbanist';
    /* padding: 30px; */
}

.main-content .paragraph {
    padding-top: 30px;
    padding-left: 30px;
}

.main-content .paragraph h3 {
    font-size: var(--sub-title);
    padding-bottom: 20px;
}


.main-content footer a {
    color: black;
}

/* ANIMATION ARROW DOWN */

footer:hover a{
    animation-play-state:paused;
}

/* KEYFRAMES */

@keyframes bounce {
    0% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(-5px);
    }
}


.gotop {
    position: sticky;
    bottom: 50px;
    display: block;
    text-align: end;
    font-size: var(--sub-title);
    color: #353535;
    margin-right: 10px;
    text-decoration: none;
}



/*CONTENT SECTIONS */

/* .main-content h3, .main-content p {
    margin: 30px;
} */



/* MEDIA QUERIES */



@media screen and (min-width: 768px){
    :root {
        --title: 3.5rem;
        --sub-title: 2rem;
        --bottom-title: 1.8rem;
    }
}

@media screen and (min-width: 1024px){
    :root {
        --bleu: #B0E9B0;
        --title: 4.5rem;
        --sub-title: 2.2rem;
        --bottom-title: 1.9rem;
    }
}

@media screen and (min-width: 1440px){
    :root {
        --title: 5.5rem;
        --sub-title: 2.5rem;
        --bottom-title: 2rem;
    }
}

@media (orientation: landscape) {
    main .illustration img {
        aspect-ratio: 375/231;
        height: 100%;
        width: initial;
    }

    .main-content .top {
        gap: 0px;
    }

    .main-content .top {
        display: grid;
        width: 100svw;
        grid-template-columns: 30% 70%;
    }

    .main-content .top .paragraph {
        width: 100%;
    }

    .main-content .top .illustration {
        width: 100%;
        display: flex;
        height: auto;
        justify-content: start;
    }

    .main-content .top .illustration img {
        aspect-ratio: 375/231;
        height: initial;
        width: 80%;
    }

}



